<div class="form-container">
  <h1>Unobservable Command</h1>

  <form [formGroup]="obsCmdExecForm" (ngSubmit)="postObservableCommand()">
    <div>
      <label for="serverId">Server ID:</label>
      <input type="text" id="serverId" formControlName="serverId" required>
      <div *ngIf="obsCmdExecFormFormControl.serverId.invalid && obsCmdExecFormFormControl.serverId.touched">
        <span *ngIf="obsCmdExecFormFormControl.serverId.errors?.required">Server ID is required.</span>
      </div>
    </div>
    <div>
      <label for="featureId">Feature ID:</label>
      <input type="text" id="featureId" formControlName="featureId" required>
      <div *ngIf="obsCmdExecFormFormControl.featureId.invalid && obsCmdExecFormFormControl.featureId.touched">
        <span *ngIf="obsCmdExecFormFormControl.featureId.errors?.required">Feature ID is required.</span>
      </div>
    </div>
    <div>
      <label for="commandId">Command ID:</label>
      <input type="text" id="commandId" formControlName="commandId" required>
      <div *ngIf="obsCmdExecFormFormControl.commandId.invalid && obsCmdExecFormFormControl.commandId.touched">
        <span *ngIf="obsCmdExecFormFormControl.commandId.errors?.required">command ID is required.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="body">Body:</label>
      <textarea id="body" class="form-control" formControlName="body" rows="5"></textarea>
      <div *ngIf="obsCmdExecFormFormControl.body.invalid && obsCmdExecFormFormControl.body.touched">
        <span *ngIf="obsCmdExecFormFormControl.body.errors?.required"> body is required.</span>
      </div>
    </div>

    <button type="submit" [disabled]="obsCmdExecForm.invalid">Submit</button>
  </form>
</div>

<div *ngIf="observableCommandExecution">
  <h3>Command Result:</h3> <pre>{{ observableCommandExecution|json}}</pre>
</div>

