<h1 class="mat-h1">Dashboard</h1>

<!-- Button trigger modal -->
<div class="button">
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#serverModal">
        <span> MANAGER SILA SERVER </span>
      </button>
    </div>
  </div>
</div>

<div class="col-md-10" >

  <!-- Modal  show gateway -->
  <div class="modal fade" id="serverModal" tabindex="-1" aria-labelledby="ModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel1"> SERVER MANAGER </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="button-group">
            <div class="col-md-6">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddModal">
                + ADD SERVER
              </button>
            </div>
            <div class="col-md-6">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#DiscoveryModal">
                Discovery Scan
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- feature and server details  -->

  <!--Select -->
  <div class="col-md-10">
    <div class="mx-auto">
      <div class="container-fluid">
        <div class="container">
          <label for="statusSelect">Select status:</label>
          <select id="statusSelect" [(ngModel)]="selectedStatus">
            <option value="online">Online</option>
            <option value="offline">Offline</option>
            <option value="any">Any</option>
          </select>

          <label for="serverSelect">Select server:</label>
          <select class="form-select" aria-label="Default select" id="serverSelect" [(ngModel)]="selectedServerUuid">
            <ng-container *ngFor="let serverInfo of serverInfoArray">
              <option *ngIf="selectedStatus === 'online' || selectedStatus === 'offline'" [value]="serverInfo.serveruuid">
                {{ serverInfo.serverName }}
              </option>
            </ng-container>
          </select>

          <label for="featureSelect">Select feature:</label>
          <select class="form-select" aria-label="Default select" id="featureSelect" [(ngModel)]="selectedFeature"
                  (ngModelChange)="extractServiceName(selectedFeature)"  >
            <ng-container *ngFor="let serverInfo of serverInfoArray">
              <option selected *ngFor="let feature of serverInfo.features" [value]="feature">
                {{ feature }}
              </option>
            </ng-container>
          </select>

        </div>
      </div>
    </div>
  </div>

  <!-- Modal  Add server Host Localhost-->
  <div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModal1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="AddModal1"> ADD SILA SERVER </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-8 mx-auto">
                <div class="card">
                  <div class="card-body">
                    <form class="form" [formGroup]="serverForm" (ngSubmit)="addServerSpec()">
                      <table class="table table-bordered">
                        <tbody>
                        <tr>
                          <td class="table-label">Host:</td>
                          <td>
                            <input type="text" id="host" formControlName="host" class="form-control" required>
                            <div *ngIf="serverFormControl['host'].errors?.required || submitted"
                                 class="error-message">
                              Host is required.
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="table-label">Port:</td>
                          <td>
                            <input type="text" id="port" formControlName="port" class="form-control" pattern="[0-9]+"
                                   required>
                            <div *ngIf="serverFormControl['port'].errors?.required || submitted"
                                 class="error-message">
                              Port is required.
                            </div>
                            <div *ngIf="serverFormControl['port'].errors?.pattern|| submitted" class="error-message">
                              Port should be a numeric value.
                            </div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                      <div class="form-group">
                        <button type="submit" [disabled]="serverForm.invalid" class="btn btn-primary">
                          ADD SERVER
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Discovery Scan-->
  <div class="container-fluid">
    <div class="modal fade" id="DiscoveryModal" tabindex="-1" aria-labelledby="myDiscoveryModalLabel1"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myDiscoveryModalLabel1">Identifier Save </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-md-8 mx-auto">
                  <div class="card">
                    <div class="card-header">
                      <h3>Discovery</h3>
                    </div>
                    <div class="card-body">
                      <form class="form" [formGroup]="numberForm" (ngSubmit)="postDiscoverySpec()">
                        <div class="form-group">
                          <label for="number" class="form-label">Time Out</label>
                          <input id="number" type="number" class="form-control" formControlName="number" />
                          <span class="text-danger"
                                *ngIf="numberFormControl['number'].invalid || (numberFormControl['number'].dirty && numberFormControl['number'].errors?.['required']) || submitted">
                            Number is required
                          </span>

                          <span class="text-danger" *ngIf="numberFormControl['number'].errors?.['min']">
                            Number must be greater than or equal to 0
                          </span>
                          <span class="text-danger" *ngIf="numberFormControl['number'].errors?.['max']">
                            Number must be less than or equal to 100
                          </span>
                        </div>

                        <div class="form-group">
                          <button
                            [disabled]="numberFormControl['number'].invalid || numberFormControl['number'].errors?.['min'] || numberFormControl['number'].errors?.['max']"
                            type="submit" class="btn btn-success">
                            Send
                          </button>
                          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
                            {{ error }}
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Property-->
 <!-- formControl Property-->
   <div class="form-container" [hidden]="propertyForm">
    <form [formGroup]="propertyForm">
      <div>
        <label for="serverId">Server ID:</label>
        <input type="text" id="serverId" formControlName="serverId" [(ngModel)]="selectedServerUuid" required>
        <div *ngIf="propertyForm.get('serverId')?.invalid && propertyForm.get('serverId')?.touched">
          <span *ngIf="propertyForm.get('serverId')?.errors?.required">Server ID is required.</span>
        </div>
      </div>
      <div>
        <label for="featureId">Feature ID:</label>
        <input type="text" id="featureId" formControlName="featureId" [(ngModel)]="selectedFeature"  required>
        <div *ngIf="propertyForm.get('featureId')?.invalid && propertyForm.get('featureId')?.touched">
          <span *ngIf="propertyForm.get('featureId')?.errors?.required">Feature ID is required.</span>
        </div>
      </div>
      <div>
        <label for="propertyId">Property ID:</label>
        <input type="text" id="propertyId" formControlName="propertyId" required>
        <div *ngIf="propertyForm.get('propertyId')?.invalid && propertyForm.get('propertyId')?.touched">
          <span *ngIf="propertyForm.get('propertyId')?.errors?.required">Property ID is required.</span>
        </div>
      </div>
      <button type="submit" [disabled]="propertyForm.invalid">Submit</button>
    </form>
  </div>
</div>

<!-- table property-->
<div class="container-fluid">

  <div class="card" *ngIf="selectedFeature">
    <h1>Property</h1>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Display Name</th>
          <th>Description</th>
          <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let result of resultArray">
          <td>{{ result.displayName  }}</td>
          <td>{{ result.description  }}</td>
          <td>{{ result.value  }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<button class="btn btn-primary" (click)="extractServiceName(selectedFeature)">Read Data</button>

<!-- formControl Command  -->
<div class="form-container">
  <form [formGroup]="commandForm" [hidden]="commandForm">
    <div>
      <label for="serverId">Server ID:</label>
      <input type="text" id="serverId1" formControlName="serverId" [(ngModel)]="selectedServerUuid" required>
      <div *ngIf="commandForm.get('serverId')?.invalid && commandForm.get('serverId')?.touched">
        <span *ngIf="commandForm.get('serverId')?.errors?.required">Server ID is required.</span>
      </div>
    </div>
    <div>

      <label for="featureId">Feature ID:</label>
      <input type="text" id="featureId1" formControlName="featureId" [(ngModel)]="selectedFeature"  required>
      <div *ngIf="commandForm.get('featureId')?.invalid && commandForm.get('featureId')?.touched">
        <span *ngIf="commandForm.get('featureId')?.errors?.required">Feature ID is required.</span>
      </div>
    </div>
    <div>
      <label for="commandId">Command ID:</label>
      <input type="text" id="commandId" formControlName="commandId" [(ngModel)]="paramId" required>
      <div *ngIf="commandForm.get('commandId')?.invalid && commandForm.get('commandId')?.touched">
        <span *ngIf="commandForm.get('commandId')?.errors?.required">command ID is required.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="body">Body:</label>
      <textarea id="body" class="form-control" formControlName="body" name="valueId" rows="5">{{valueId}}</textarea>
      <div *ngIf="commandForm.get('body')?.invalid && commandForm.get('body')?.touched">
        <span *ngIf="commandForm.get('body')?.errors?.required"> body is required.</span>
      </div>
    </div>

    <button type="submit" [disabled]="commandForm.invalid">Submit</button>
  </form>
</div>

<div class="row" *ngIf="selectedFeature">
  <div class="column" style="background-color:white;">
    <div class="container-fluid">
      <div class="card">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Parameters</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let command of featureDescription.commands">
              <td >
                <div class="col-md-10" >
                  <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-header" id="heading">
                        <h2 class="mb-0">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#collapse" aria-expanded="false"
                                  aria-controls="collapse">
                            Parameters:
                          </button>
                        </h2>
                      </div>
                      <div  *ngFor="let parameter of command.parameter ; let i = index"  id="collapse" class="collapse"
                           aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="card-body" >
                          <div class="form-group">
                            <label for="valueId{{ parameter.identifier }}">{{ parameter.displayName }}:</label>
                            <input  type="text" class="form-control"
                                    #boxRef
                                   [ngClass]="{'is-invalid': !isSameType(boxRef)}"
                                   (keyup)="getBody1(parameter.identifier, boxRef)"
                                   id="valueId{{ parameter.identifier }}"
                                   name="valueId{{ parameter.identifier }}">
                            <div class="invalid-feedback">Input value must be of type{{parameter.displayName}} </div>
                          </div>
                        </div>
                      </div>

                      <div>
                        <div>
                          <button type="button" class="btn btn-primary" [value]="command.identifier"
                                  (click)="postCommand(command.identifier); clearInput(boxRef)" >Execute
                          </button>
                        </div>

                        <div>
                          <div class="result-box" *ngIf="previousCommandId === command.identifier">
                            <div><span class="result-text">{{ ComParamIdResult}}</span></div>
                            <div class="invalid-feedback" *ngIf="errorMessage">{{ errorMessage }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>






