/* Styling for the modal */
.modal-body {
  padding: 20px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Styling for the select inputs */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

select,
.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styling for the error messages
 */
.text-danger {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
}

.column:nth-child(1) {
  background-color: white;
}

.column:nth-child(2) {
  background-color: #bbb;
}

.parameter-container {
  display: flex;
  flex-wrap: wrap;
}

.parameter-item {
  flex-basis: auto;
}


 /**------------------**/

/* Customize the background color of the column */
.column {
  background-color: white;
}

/* Style the table */
.table {
  width: 100%;
  border-collapse: collapse;
}

/* Style the table headers */
.table thead th {
  background-color: #f8f9fa;
  border-bottom: 2px solid #dee2e6;
}

/* Style the table rows */
.table tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

/* Style the accordion buttons */
.accordion-button {
  width: 100%;
  text-align: left;
  font-weight: bold;
  background-color: #fff;
  color: #000;
  border: none;
}

/* Style the input when it is invalid */
.is-invalid {
  border-color: red;
}

/* Style the validation error message */
.invalid-feedback {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Add padding to the card body */
.card-body {
  padding: 10px;
}

/* Add margin to the warning message */
.warning-message {
  margin-top: 5px;
}
/** result box **/

.result-box {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 10px;
  margin-top: 10px;
}

.result-text {
  color: #000;
  font-weight: bold;
}
.hide {
  display: none;
}
