<!-- <div class="form-container">
  <h1> Command </h1>

  <form [formGroup]="obsCmdExecForm" (ngSubmit)="postObservableCommand()">
    <div>
      <label for="serverId">Server ID:</label>
      <input type="text" id="serverId" formControlName="serverId" required>
      <div *ngIf="obsCmdExecFormFormControl.serverId.invalid && obsCmdExecFormFormControl.serverId.touched">
        <span *ngIf="obsCmdExecFormFormControl.serverId.errors?.required">Server ID is required.</span>
      </div>
    </div>
    <div>
      <label for="featureId">Feature ID:</label>
      <input type="text" id="featureId" formControlName="featureId" required>
      <div *ngIf="obsCmdExecFormFormControl.featureId.invalid && obsCmdExecFormFormControl.featureId.touched">
        <span *ngIf="obsCmdExecFormFormControl.featureId.errors?.required">Feature ID is required.</span>
      </div>
    </div>
    <div>
      <label for="commandId">Command ID:</label>
      <input type="text" id="commandId" formControlName="commandId" required>
      <div *ngIf="obsCmdExecFormFormControl.commandId.invalid && obsCmdExecFormFormControl.commandId.touched">
        <span *ngIf="obsCmdExecFormFormControl.commandId.errors?.required">command ID is required.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="body">Body:</label>
      <textarea id="body" class="form-control" formControlName="body" rows="5"></textarea>
      <div *ngIf="obsCmdExecFormFormControl.body.invalid && obsCmdExecFormFormControl.body.touched">
        <span *ngIf="obsCmdExecFormFormControl.body.errors?.required"> body is required.</span>
      </div>
    </div>

    <button type="submit" [disabled]="obsCmdExecForm.invalid">Submit</button>
  </form>
</div>

<div *ngIf="observableCommandExecution">
  <h3>Command Result:</h3> <pre>{{ observableCommandExecution|json}}</pre>
</div>


<button type="button" class="btn btn-primary" (click)=" extractServiceName(selectedFeature)">show command</button>

<div class="table">
  <label for="serverSelect">Select server:</label>
  <div id="serverSelect" [(ngModel)]="selectedServerUuid">
    <div *ngFor="let serverInfo of serverInfoArray">
        {{ serverInfo.serverName }}
    </div>
  </div>
  <label for="featureSelect">Select feature:</label>
  <select class="form-select" aria-label="Default select" id="featureSelect" [(ngModel)]="selectedFeature"
    (ngModelChange)="extractServiceName(selectedFeature)">
    <ng-container *ngFor="let serverInfo of serverInfoArray">
      <option selected *ngFor="let feature of serverInfo.features" [value]="feature">
        {{ feature }}
      </option>
    </ng-container>
  </select>
<ul>
    <li *ngFor="let command of featureDescription.commands">
      <div class="command-details">
        <p><strong>Identifier:</strong> {{ command.identifier }}</p>
        <p><strong>Display Name:</strong> {{ command.displayName }}</p>
        <p><strong>Description:</strong> {{ command.description }}</p>
        <p><strong>Observable:</strong> {{ command.observable }}</p>
        <ng-container *ngIf="command.parameter">
          <div class="parameters">
            <strong>Parameters:</strong>
            <ul>
              <li *ngFor="let parameter of command.parameter">
                <p><strong>Identifier:</strong> {{ parameter.identifier }}</p>
                <p><strong>Display Name:</strong> {{ parameter.displayName }}</p>
                <p><strong>Description:</strong> {{ parameter.description }}</p>
                <p><strong>DataType2:</strong> {{ parameter.dataType?.item?.dataType?.item }}</p>
                <div class="constraints">
                  <ul>
                    <li class="container-fluid" *ngIf="parameter.dataType?.item?.constraints">
                      <p><strong>length:</strong> {{ parameter.dataType?.item?.constraints.length || 'NULL' }}</p>
                      <p><strong>minimalLength:</strong> {{ parameter.dataType?.item?.constraints.minimalLength ||
                        'NULL' }}</p>
                      <p><strong>maximalLength:</strong> {{ parameter.dataType?.item?.constraints.maximalLength ||
                        'NULL' }}</p>
                      <p><strong>set:</strong> {{ parameter.dataType?.item?.constraints.set || 'NULL' }}</p>
                      <p><strong>pattern:</strong> {{ parameter.dataType?.item?.constraints.pattern || 'NULL' }}</p>
                      <p><strong>maximalExclusive:</strong> {{ parameter.dataType?.item?.constraints.maximalExclusive ||
                        'NULL' }}</p>
                      <p><strong>maximalInclusive:</strong> {{ parameter.dataType?.item?.constraints.maximalInclusive ||
                        'NULL' }}</p>
                      <p><strong>minimalExclusive:</strong> {{ parameter.dataType?.item?.constraints.minimalExclusive ||
                        'NULL' }}</p>
                      <p><strong>minimalInclusive:</strong> {{ parameter.dataType?.item?.constraints.minimalInclusive ||
                        'NULL' }}</p>
                      <p><strong>unit:</strong> {{ parameter.dataType?.item?.constraints.unit || 'NULL' }}</p>
                      <p><strong>contentType:</strong> {{ parameter.dataType?.item?.constraints.contentType || 'NULL' }}
                      </p>
                      <p><strong>elementCount:</strong> {{ parameter.dataType?.item?.constraints.elementCount || 'NULL'
                        }}</p>
                      <p><strong>minimalElementCount:</strong> {{
                        parameter.dataType?.item?.constraints.minimalElementCount || 'NULL' }}</p>
                      <p><strong>maximalElementCount:</strong> {{
                        parameter.dataType?.item?.constraints.maximalElementCount || 'NULL' }}</p>
                      <p><strong>fullyQualifiedIdentifier:</strong> {{
                        parameter.dataType?.item?.constraints.fullyQualifiedIdentifier || 'NULL' }}</p>
                      <p><strong>fullyQualifiedIdentifierSpecified:</strong> {{
                        parameter.dataType?.item?.fullyQualifiedIdentifierSpecified || 'NULL' }}</p>
                      <p><strong>allowedTypes:</strong> {{ parameter.dataType?.item?.constraints.allowedTypes || 'NULL'
                        }}</p>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </ng-container>

        <div class="response">
          <strong>Response:</strong>
          <ul>
            <li *ngFor="let response of command.response">
              <p><strong>Identifier:</strong> {{ response.identifier }}</p>
              <p><strong>Display Name:</strong> {{ response.displayName }}</p>
              <p><strong>Description:</strong> {{ response.description }}</p>
              <p><strong>DataType:</strong> {{ response.dataType?.item || 'null' }}</p>
            </li>
          </ul>
        </div>

        <div class="intermediate-response">
          <strong>Intermediate Response:</strong>
          <ul>
            <li *ngFor="let intermediateResponse of command.intermediateResponse">
              <p><strong>Identifier:</strong> {{ intermediateResponse.identifier }}</p>
              <p><strong>Display Name:</strong> {{ intermediateResponse.displayName }}</p>
              <p><strong>Description:</strong> {{ intermediateResponse.description }}</p>
              <p><strong>DataType:</strong> {{ intermediateResponse.dataType?.item }}</p>
            </li>
          </ul>
        </div>

        <div class="execution-errors">
          <strong>Defined Execution Errors:</strong>
          <ul>
            <li *ngFor="let error of command.definedExecutionErrors">{{ error }}</li>
          </ul>
        </div>
      </div>
    </li>
</ul>
</div> -->
<!--<div class="form-container">
  <form [formGroup]="propertyForm" (ngSubmit)="postProperty()">
    <div>
      <label for="serverId">Server ID:</label>
      <input type="text" id="serverId" formControlName="serverId" [(ngModel)]="selectedServerUuid" required>
      <div *ngIf="propertyFormFormControl.serverId.invalid && propertyFormFormControl.serverId.touched">
        <span *ngIf="propertyFormFormControl.serverId.errors?.required">Server ID is required.</span>
      </div>
    </div>
    <div>
      <label for="featureId">Feature ID:</label>
      <input type="text" id="featureId" formControlName="featureId" [(ngModel)]="selectedFeature" (ngModelChange)="extractServiceName(selectedFeature)" required>
      <div *ngIf="propertyFormFormControl.featureId.invalid && propertyForm.controls.featureId.touched">
        <span *ngIf="propertyFormFormControl.featureId.errors?.required">Feature ID is required.</span>
      </div>
    </div>
    <div>
      <label for="propertyId">Property ID:</label>
      <input type="text" id="propertyId" formControlName="propertyId" required>
      <div *ngIf="propertyFormFormControl.propertyId.invalid && propertyFormFormControl.propertyId.touched">
        <span *ngIf="propertyFormFormControl.propertyId.errors?.required">Property ID is required.</span>
      </div>
    </div>
    <button type="submit" [disabled]="propertyForm.invalid">Submit</button>
  </form>
</div>-->
<!--<table class="custom-table" *ngIf="dynamicObjectProperty">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Display Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>constraints</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ dynamicObjectProperty.identifier }}</td>
      <td>{{ dynamicObjectProperty.displayName }}</td>
      <td>{{ dynamicObjectProperty.description }}</td>
      <td>{{ dynamicObjectProperty.type?.item?.dataType.item }}</td>
      <td>
        <ng-container *ngIf="dynamicObjectProperty && dynamicObjectProperty.value !== null">
          <ul class="constraint-list">
            <li *ngIf="dynamicObjectProperty.type?.item.constraints.length !== null">length = {{
              dynamicObjectProperty.type?.item.constraints.length }}</li>
            <li *ngIf="dynamicObjectProperty.type?.item.constraints.minimalLength !== null">minimalLength = {{
              dynamicObjectProperty.type?.item.constraints.minimalLength }}</li>
            <li *ngIf="dynamicObjectProperty.type?.item.constraints.maximalLength !== null">maximalLength = {{
              dynamicObjectProperty.type?.item.constraints.maximalLength }}</li>
            <li *ngIf="dynamicObjectProperty.type?.item.constraints.set !== null">set = {{
              dynamicObjectProperty.type?.item.constraints.set }}</li>
            <li *ngIf="dynamicObjectProperty.type?.item.constraints.pattern !== null">pattern = {{
              dynamicObjectProperty.type?.item.constraints.pattern }}</li>
            <li *ngIf="dynamicObjectProperty.type?.item.constraints.maximalExclusive !== null">maximalExclusive = {{
              dynamicObjectProperty.type?.item.constraints.maximalExclusive }}</li>
            <li *ngIf="dynamicObjectProperty.type?.item.constraints.maximalInclusive !== null">maximalInclusive = {{
              dynamicObjectProperty.type?.item.constraints.maximalInclusive }}</li>
            <li *ngIf="dynamicObjectProperty.type?.item.constraints.minimalExclusive !== null">minimalExclusive = {{
              dynamicObjectProperty.type?.item.constraints.minimalExclusive }}</li>
            <li *ngIf="dynamicObjectProperty.type?.item.constraints.minimalInclusive !== null">minimalInclusive = {{
              dynamicObjectProperty.type?.item.constraints.minimalInclusive }}</li>
            <li *ngIf="dynamicObjectProperty.type?.item.constraints.unit !== null">unit = {{
              dynamicObjectProperty.type?.item.constraints?.unit }}</li>
            <li *ngIf="dynamicObjectProperty.type?.item.constraints.contentType !== null">contentType = {{
              dynamicObjectProperty.type?.item.constraints.contentType }}</li>
            <li *ngIf="dynamicObjectProperty.type?.item.constraints.elementCount !== null">elementCount = {{
              dynamicObjectProperty.type?.item.constraints.elementCount }}</li>
            <li *ngIf="dynamicObjectProperty.type?.item.constraints.minimalElementCount !== null">minimalElementCount =
              {{
              dynamicObjectProperty.type?.item.constraints.minimalElementCount }}</li>
            <li *ngIf="dynamicObjectProperty.type?.item.constraints.maximalElementCount !== null">maximalElementCount =
              {{
              dynamicObjectProperty.type?.item.constraints.maximalElementCount }}</li>
            <li *ngIf="dynamicObjectProperty.type?.item.constraints.fullyQualifiedIdentifier !== null">
              fullyQualifiedIdentifier = {{
              dynamicObjectProperty.type?.item.constraints.fullyQualifiedIdentifier }}</li>
            <li *ngIf="dynamicObjectProperty.type?.item.constraints.fullyQualifiedIdentifierSpecified !== null">
              fullyQualifiedIdentifierSpecified = {{
              dynamicObjectProperty.type?.item.constraints.fullyQualifiedIdentifierSpecified }}</li>
            <li *ngIf="dynamicObjectProperty.type?.item.constraints.schema !== null">schema = {{
              dynamicObjectProperty.type?.item.constraints.schema }}</li>
            <li *ngIf="dynamicObjectProperty.type?.item.constraints.allowedTypes !== null">allowedTypes = {{
              dynamicObjectProperty.type?.item.constraints.allowedTypes }}</li>
          </ul>
        </ng-container>
      </td>
      <td>{{ dynamicObjectProperty.value }}</td>
    </tr>
  </tbody>
</table>-->
<!--<div>
  <div class="split-container">
    <div class="left-panel">
      <div class="container-fluid"  >
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Display Name</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let property of featureDescription.properties">
              <td>{{ property.displayName }}</td>
              <td>{{ property.description }}</td>
              <td> <button type="button" class="btn btn-primary" [value]="property.identifier" (click)="postProperty(property.identifier)"> Read Value </button> </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div class="right-panel">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Value
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <input type="text" id="valueId" formControlName="valueId" [value]="dynamicObjectProperty.value"  >
              <td>
                <ng-container *ngIf="dynamicObjectProperty && dynamicObjectProperty.value !== null">
                  <ul class="constraint-list">
                    <li *ngIf="dynamicObjectProperty.type?.item.constraints.length !== null">length = {{
                      dynamicObjectProperty.type?.item.constraints.length }}</li>
                    <li *ngIf="dynamicObjectProperty.type?.item.constraints.minimalLength !== null">minimalLength = {{
                      dynamicObjectProperty.type?.item.constraints.minimalLength }}</li>
                    <li *ngIf="dynamicObjectProperty.type?.item.constraints.maximalLength !== null">maximalLength = {{
                      dynamicObjectProperty.type?.item.constraints.maximalLength }}</li>
                    <li *ngIf="dynamicObjectProperty.type?.item.constraints.pattern !== null">pattern = {{
                      dynamicObjectProperty.type?.item.constraints.pattern }}</li>
                  </ul>
                </ng-container>
              </td>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>-->
<!--<div class="container-fluid">
  <div class="container">
    <label for="serverSelect">Select server:</label>
    <select class="form-select" aria-label="Default select" id="serverSelect" [(ngModel)]="selectedServerUuid">
      <ng-container *ngFor="let serverInfo of serverInfoArray">
        <option [value]="serverInfo.serveruuid">
          {{ serverInfo.serverType}}
        </option>
      </ng-container>
    </select>

    <label for="featureSelect">Select feature:</label>
    <select class="form-select" aria-label="Default select" id="featureSelect" [(ngModel)]="selectedFeature"
      (ngModelChange)="extractServiceName(selectedFeature)">
      <ng-container *ngFor="let serverInfo of serverInfoArray">
        <option selected *ngFor="let feature of serverInfo.features" [value]="feature">
          {{ feature }}
        </option>
      </ng-container>
    </select>
  </div>
</div>-->



<h1 class="mat-h1"> Property </h1>

<div class="col-md-10">

  <!--select server und feature
   <div class="mx-auto">
    <div class="container-fluid">
      <div class="container">
        <label for="serverSelect">Select server:</label>
        <select class="form-select" aria-label="Default select" id="serverSelect" [(ngModel)]="selectedServerUuid">
          <ng-container *ngFor="let serverInfo of serverInfoArray">
            <option [value]="serverInfo.serveruuid">
              {{ serverInfo.serverName}}
            </option>
          </ng-container>
        </select>

        <label for="featureSelect">Select feature:</label>
        <select class="form-select" aria-label="Default select" id="featureSelect" [(ngModel)]="selectedFeature"
                (ngModelChange)="extractServiceName(selectedFeature)">
          <ng-container *ngFor="let serverInfo of serverInfoArray">
            <option selected *ngFor="let feature of serverInfo.features" [value]="feature">
              {{ feature }}
            </option>
          </ng-container>
        </select>
      </div>
    </div>
  </div>


  -->


  <!--formControl Property


    <div class="form-container" [hidden]="propertyForm">
    <form [formGroup]="propertyForm">
      <div>
        <label for="serverId">Server ID:</label>
        <input type="text" id="serverId" formControlName="serverId" [(ngModel)]="selectedServerUuid" required>
        <div *ngIf="propertyForm.get('serverId')?.invalid && propertyForm.get('serverId')?.touched">
          <span *ngIf="propertyForm.get('serverId')?.errors?.required">Server ID is required.</span>
        </div>
      </div>
      <div>
        <label for="featureId">Feature ID:</label>
        <input type="text" id="featureId" formControlName="featureId" [(ngModel)]="selectedFeature"  required>
        <div *ngIf="propertyForm.get('featureId')?.invalid && propertyForm.get('featureId')?.touched">
          <span *ngIf="propertyForm.get('featureId')?.errors?.required">Feature ID is required.</span>
        </div>
      </div>
      <div>
        <label for="propertyId">Property ID:</label>
        <input type="text" id="propertyId" formControlName="propertyId" required>
        <div *ngIf="propertyForm.get('propertyId')?.invalid && propertyForm.get('propertyId')?.touched">
          <span *ngIf="propertyForm.get('propertyId')?.errors?.required">Property ID is required.</span>
        </div>
      </div>
      <button type="submit" [disabled]="propertyForm.invalid">Submit</button>
    </form>
  </div>
  -->


<!-- table property

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Display Name</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let property of featureDescription.properties">
                <td>{{ property.displayName }}</td>
                <td>{{ property.description }}</td>
                <td>
                  <button type="button" class="btn btn-primary" [value]="property.identifier" (click)="postProperty(property.identifier)">Read Value</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Value
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="card-body">
                <input type="text" class="form-control" id="valueId" formControlName="valueId" [value]="dynamicObjectProperty.value">
                <ng-container *ngIf="dynamicObjectProperty && dynamicObjectProperty.value !== null">
                  <ul class="list-unstyled">
                    <li *ngIf="dynamicObjectProperty.type?.item.constraints.length !== null">length = {{ dynamicObjectProperty.type?.item.constraints.length }}</li>
                    <li *ngIf="dynamicObjectProperty.type?.item.constraints.minimalLength !== null">minimalLength = {{ dynamicObjectProperty.type?.item.constraints.minimalLength }}</li>
                    <li *ngIf="dynamicObjectProperty.type?.item.constraints.maximalLength !== null">maximalLength = {{ dynamicObjectProperty.type?.item.constraints.maximalLength }}</li>
                    <li *ngIf="dynamicObjectProperty.type?.item.constraints.pattern !== null">pattern = {{ dynamicObjectProperty.type?.item.constraints.pattern }}</li>
                  </ul>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
-->

</div>






