.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.form-container .error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.form-container button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.form-container button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* css for table */

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ccc;
}

.custom-table th {
  background-color: #f2f2f2;
}

.custom-table td p {
  margin: 0;
}

.constraint-list {
  list-style: none;
  padding: 0;
}

/*-----------*/

.hidden {
  display: none;
}
li {
  margin-bottom: 5px; /* Adjust the margin as needed */
  list-style-type: none;
  white-space: nowrap;
}
li:before {
  content: "\2022"; /* Bullet character */
  margin-right: 5px; /* Adjust the spacing between the bullet and the value */
}



/*-----split display------*/

.split-container {
  display: flex;
  height: 100vh; /* Set the height of the split screen */
}

.left-panel, .right-panel {
  flex: 1; /* Divide the available space equally between panels */
  overflow: auto; /* Enable scrolling if content exceeds panel height */
}
