/** css form ***/


.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.form-container .error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.form-container button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.form-container button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/** button prameter ***/

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.card-header {
  background-color: #f5f5f5;
  padding: 10px;
}

.accordion-button {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  text-align: left;
  padding: 0;
  cursor: pointer;
}

.container-fluid {
  padding: 10px;
}

.row {
  margin-bottom: 10px;
}

.col {
  display: flex;
  flex-direction: column;
}

h4 {
  margin-bottom: 5px;
}

p {
  margin: 0;
}
