
<h1 class="mat-h1">Command</h1>
<!-- label select-->
<!--<div class="container-fluid">
  <div class="container">
    <label for="serverSelect">Select server:</label>
    <select class="form-select" aria-label="Default select" id="serverSelect" [(ngModel)]="selectedServerUuid">
      <ng-container *ngFor="let serverInfo of serverInfoArray">
        <option [value]="serverInfo.serveruuid" >
          {{ serverInfo.serverName }}
        </option>
      </ng-container>
    </select>

    <label for="featureSelect">Select feature:</label>
    <select class="form-select" aria-label="Default select" id="featureSelect" [(ngModel)]="selectedFeature"
            (ngModelChange)="extractServiceName(selectedFeature)">
      <ng-container *ngFor="let serverInfo of serverInfoArray">
        <option selected *ngFor="let feature of serverInfo.features" [value]="feature">
          {{ feature }}
        </option>
      </ng-container>
    </select>
  </div>
</div>-->
<!-- table-->
<!--<div class="container-fluid">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Display Name</th>
        <th>Description</th>
        <th>Observable</th>
        <th>Parameters</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let command of featureDescription.commands">
        <td>{{ command.identifier }}</td>
        <td>{{ command.description }}</td>
        <td>{{ command.observable }}</td>
        <td *ngFor="let parameter of command.parameter">
          <div class="col-md-6">
          <div class="accordion" id="accordionExample">
            <div class="card" >
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Parameters: {{parameter.description }}
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="card-body" >
                  {{parameter.displayName }}: <input type="text" #box (keyup)="getbody(box.value)" (click)="postCommand(command.identifier)" id="valueId" name="valueId" >
                </div>
              </div>
            </div>
          </div>
        </div></td>
        <td>
        <button type="button" class="btn btn-primary" [value]="command.identifier" >choose command Identifier</button>
      </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>-->
<!--form-->
<div class="form-container">
  <h1>Unobservable Command</h1>
  <form [formGroup]="commandForm" >
    <div>
      <label for="serverId">Server ID:</label>
      <input type="text" id="serverId" formControlName="serverId" [(ngModel)]="selectedServerUuid" required>
      <div *ngIf="commandForm.get('serverId')?.invalid && commandForm.get('serverId')?.touched">
        <span *ngIf="commandForm.get('serverId')?.errors?.required">Server ID is required.</span>
      </div>
    </div>
    <div>

      <label for="featureId">Feature ID:</label>
      <input type="text" id="featureId" formControlName="featureId" [(ngModel)]="selectedFeature"  required>
      <div *ngIf="commandForm.get('featureId')?.invalid && commandForm.get('featureId')?.touched">
        <span *ngIf="commandForm.get('featureId')?.errors?.required">Feature ID is required.</span>
      </div>
    </div>
    <div>
      <label for="commandId">Command ID:</label>
      <input type="text" id="commandId" formControlName="commandId" [(ngModel)]="paramId" required>
      <div *ngIf="commandForm.get('commandId')?.invalid && commandForm.get('commandId')?.touched">
        <span *ngIf="commandForm.get('commandId')?.errors?.required">command ID is required.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="body">Body:</label>
      <textarea id="body" class="form-control" formControlName="body" name="valueId" rows="5">{{valueId}}</textarea>
      <div *ngIf="commandForm.get('body')?.invalid && commandForm.get('body')?.touched">
        <span *ngIf="commandForm.get('body')?.errors?.required"> body is required.</span>
      </div>
    </div>

    <button type="submit" [disabled]="commandForm.invalid">Submit</button>
  </form>
</div>

<div *ngIf="commandResult">
  <h3>unobserved Command Result:</h3> <pre>{{ commandResult|json}}</pre>
</div>

<div *ngIf="observableCommandExecution">
  <h3>observer Command Result:</h3> <pre>{{ observableCommandExecution|json}}</pre>
</div>

<!---->
