<div class="form-container">
   <h1>Unobservable Command</h1>

  <form [formGroup]="commandResultForm" (ngSubmit)="postUnobservableCommand()">
    <div>
      <label for="serverId">Server ID:</label>
      <input type="text" id="serverId" formControlName="serverId" required>
      <div *ngIf="commandResultFormFormControl.serverId.invalid && commandResultFormFormControl.serverId.touched">
        <span *ngIf="commandResultFormFormControl.serverId.errors?.required">Server ID is required.</span>
      </div>
    </div>
    <div>
      <label for="featureId">Feature ID:</label>
      <input type="text" id="featureId" formControlName="featureId" required>
      <div *ngIf="commandResultFormFormControl.featureId.invalid && commandResultFormFormControl.featureId.touched">
        <span *ngIf="commandResultFormFormControl.featureId.errors?.required">Feature ID is required.</span>
      </div>
    </div>
    <div>
      <label for="commandId">Command ID:</label>
      <input type="text" id="commandId" formControlName="commandId" required>
      <div *ngIf="commandResultFormFormControl.commandId.invalid && commandResultFormFormControl.commandId.touched">
        <span *ngIf="commandResultFormFormControl.commandId.errors?.required">command ID is required.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="body">Body:</label>
      <textarea id="body" class="form-control" formControlName="body" rows="5"></textarea>
      <div *ngIf="commandResultFormFormControl.body.invalid && commandResultFormFormControl.body.touched">
        <span *ngIf="commandResultFormFormControl.body.errors?.required"> body is required.</span>
      </div>
    </div>

    <button type="submit" [disabled]="commandResultForm.invalid">Submit</button>
  </form>
</div>

<div *ngIf="commandResult">
  <h3>Command Result:</h3> <pre>{{ commandResult|json}}</pre>
</div>

