<div class="form-container">
  <form [formGroup]="propertyForm" (ngSubmit)="postProperty()">
    <div>
      <label for="serverId">Server ID:</label>
      <input type="text" id="serverId" formControlName="serverId" required>
      <div *ngIf="propertyFormFormControl.serverId.invalid && propertyFormFormControl.serverId.touched">
        <span *ngIf="propertyFormFormControl.serverId.errors?.required">Server ID is required.</span>
      </div>
    </div>
    <div>
      <label for="featureId">Feature ID:</label>
      <input type="text" id="featureId" formControlName="featureId" required>
      <div *ngIf="propertyFormFormControl.featureId.invalid && propertyForm.controls.featureId.touched">
        <span *ngIf="propertyFormFormControl.featureId.errors?.required">Feature ID is required.</span>
      </div>
    </div>
    <div>
      <label for="propertyId">Property ID:</label>
      <input type="text" id="propertyId" formControlName="propertyId" required>
      <div *ngIf="propertyFormFormControl.propertyId.invalid && propertyFormFormControl.propertyId.touched">
        <span *ngIf="propertyFormFormControl.propertyId.errors?.required">Property ID is required.</span>
      </div>
    </div>
    <button type="submit" [disabled]="propertyForm.invalid">Submit</button>
  </form>
</div>

<div *ngIf="dynamicObjectProperty">
  properties: {{ dynamicObjectProperty}}
</div>


<table class="custom-table"  *ngIf="dynamicObjectProperty">
  <thead>
  <tr>
    <th>Identifier</th>
    <th>Display Name</th>
    <th>Description</th>
    <th>Type</th>
    <th>constraints</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ dynamicObjectProperty.identifier }}</td>
   <td>{{ dynamicObjectProperty.displayName }}</td>
    <td>{{ dynamicObjectProperty.description }}</td>
    <td>{{ dynamicObjectProperty.type?.item?.dataType.item }}</td>
    <td>
      <ng-container  *ngIf="true">
        <ul class="constraint-list" >
          <li [class.hidden]="!dynamicObjectProperty || dynamicObjectProperty.value === null">length= {{dynamicObjectProperty.type?.item.constraints.length}}
          <li [class.hidden]="!dynamicObjectProperty || dynamicObjectProperty.value === null">minimalLength= {{dynamicObjectProperty.type?.item.constraints.minimalLength}}
          <li [class.hidden]="!dynamicObjectProperty || dynamicObjectProperty.value === null">maximalLength= {{dynamicObjectProperty.type?.item.constraints.maximalLength}}
          <li [class.hidden]="!dynamicObjectProperty || dynamicObjectProperty.value === null">set ={{dynamicObjectProperty.type?.item.constraints.set}}
          <li [class.hidden]="!dynamicObjectProperty || dynamicObjectProperty.value === null">pattern= {{dynamicObjectProperty.type?.item.constraints.pattern}}
          <li [class.hidden]="!dynamicObjectProperty || dynamicObjectProperty.value === null">maximalExclusive=  {{dynamicObjectProperty.type?.item.constraints.maximalExclusive}}
          <li [class.hidden]="!dynamicObjectProperty || dynamicObjectProperty.value === null">maximalInclusive= {{dynamicObjectProperty.type?.item.constraints.maximalInclusive}}
          <li [class.hidden]="!dynamicObjectProperty || dynamicObjectProperty.value === null"> minimalExclusive= {{dynamicObjectProperty.type?.item.constraints.minimalExclusive}}
          <li [class.hidden]="!dynamicObjectProperty || dynamicObjectProperty.value === null">minimalInclusive=  {{dynamicObjectProperty.type?.item.constraints.minimalInclusive}}
          <li [class.hidden]="!dynamicObjectProperty || dynamicObjectProperty.value === null">unit ={{dynamicObjectProperty.type?.item.constraints?.unit}}
          <li [class.hidden]="!dynamicObjectProperty || dynamicObjectProperty.value === null">contentType= {{dynamicObjectProperty.type?.item.constraints.contentType}}
          <li [class.hidden]="!dynamicObjectProperty || dynamicObjectProperty.value === null">elementCount= {{dynamicObjectProperty.type?.item.constraints.elementCount}}
          <li [class.hidden]="!dynamicObjectProperty || dynamicObjectProperty.value === null">minimalElementCount= {{dynamicObjectProperty.type?.item.constraints.minimalElementCount}}
          <li [class.hidden]="!dynamicObjectProperty || dynamicObjectProperty.value === null">minimalElementCount= {{dynamicObjectProperty.type?.item.constraints.maximalElementCount}}
          <li [class.hidden]="!dynamicObjectProperty || dynamicObjectProperty.value === null">fullyQualifiedIdentifier= {{dynamicObjectProperty.type?.item.constraints.fullyQualifiedIdentifier}}
          <li [class.hidden]="!dynamicObjectProperty || dynamicObjectProperty.value === null">fullyQualifiedIdentifierSpecified= {{dynamicObjectProperty.type?.item.constraints.fullyQualifiedIdentifierSpecified}}
          <li [class.hidden]="!dynamicObjectProperty || dynamicObjectProperty.value === null">schema= {{dynamicObjectProperty.type?.item.constraints.schema}}
          <li [class.hidden]="!dynamicObjectProperty || dynamicObjectProperty.value === null">allowedTypes= {{dynamicObjectProperty.type?.item.constraints.allowedTypes}}
      </ul>
      </ng-container>

    </td>
    <td>{{ dynamicObjectProperty.value }}</td>
  </tr>
  </tbody>
</table>



