
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.form-group {
  margin-bottom: 20px;
}
.form-label {
  font-weight: bold;
}
.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.text-danger {
  color: red;
}
.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}
.btn-success {
  background-color: #28a745;
}
.alert {
  padding: 10px;
  border-radius: 4px;
}
.alert-danger {
  background-color: #dc3545;
  color: #fff;
}
.server-table {
  border-collapse: collapse;
  width: auto;
  align-content: center;
}
.server-table th,
.server-table td {
  border: 1px solid black;
  padding: 8px;
  width: auto;
}
.server-table th {
  background-color: #f2f2f2;
}
.server-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.feature-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.feature-list li {
  margin-bottom: 5px;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  border-radius: 0;
  margin-right: 10px;
}
button:hover {
  padding: 8px 16px;
  background-color: #45a049;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.card-header {
  background-color: #f8f9fa;
  padding: 10px;
}
.card-body {
  padding: 20px;
}
.form-group {
  margin-bottom: 20px;
}
.form-label {
  font-weight: bold;
}
.btn-success {
  background-color: #28a745;
  color: #fff;
}
.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.alert-danger {
  background-color: #dc3545;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0;
}

.modal-title {
  font-size: 18px;
  font-weight: bold;
}

.table-bordered {
  border: 1px solid #dee2e6;
  border-collapse: collapse;
}


.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}


.table-bordered th,
.table-bordered td {
  vertical-align: top;
  border: 1px solid #dee2e6;
  padding: 8px;
}

.table th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}


.error-message {
  color: red;
  font-size: 14px;
}

.feature-list {
  list-style-type: disc;
  padding: 0;
}

.table-label {
  font-weight: bold;
  width: auto;
}
.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: fit-content;
}

.modal-content {
  display: table;
  flex-direction: column;
  height: auto;
}

.modal-body {
  flex-grow: 2;
  overflow-x: auto;
  align-content: center;

}


/*a suprimer */

.black-border{
  border: 1px solid black;
}
:host{
  display: block;
  border: 1px solid black;
  width: 500px;
  height: 90vh;
  margin: 1rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
ul{
  width: 50%;
  margin: auto 0;
  border-radius: 1rem;
  box-shadow: 0 0 10px;
}
ul li {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
ul li:not(:last-child) {
  border-bottom: 1px solid black;
}
ul li:first-child:hover{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
ul li:last-child:hover{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
ul li:hover{
  background-color: dodgerblue;
}
*{
  margin: 0;
  padding: 0;
}
.display{
  overflow-y: auto ;
  height: 400px;
  width: 100px;
  border-radius: 1rem;
  box-shadow: black;
}

