
<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Connection Configuration</th>
      </tr>

      </thead>

      <tbody>
      <tr >
        <td>{{configuredSilaClient}}</td>

      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal1">
            ADD Gateway Configuration
          </button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal2">
            Delete Gateway Configuration
          </button>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="container-fluid">
  <div class="modal fade" id="myModal1" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel1">Configuration Save</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-8 mx-auto">
                <!--  <select class=" form-select-xs mb-3" aria-label="Default select example">
                   <option selected> --- </option>
                   <option value="true"> true </option>
                   <option value="false"> false </option>
                 </select>-->
                <div>
                  <label>
                    Persist:
                    <select [(ngModel)]="persist">
                      <option *ngFor="let option of persistOptions" [value]="option">{{ option }}</option>
                    </select>
                  </label>
                </div>
                <div class="card">
                  <div class="card-body">
                    <form  [formGroup]="configSilaClientForm" (ngSubmit)="updateConnectionConfig()">
                      <div>
                        <label for="clientName">Client Name</label>
                        <input type="text" id="clientName" formControlName="clientName">
                        <div *ngIf="(configSilaClientFormControl['clientName'].invalid || submitted) && configSilaClientFormControl['clientName'].touched ">
                          <div *ngIf="configSilaClientFormControl['clientName'].errors?.required">Client Name is required.</div>
                        </div>
                      </div>

                      <div>
                        <label for="siLAClientHost">SiLA Client Host</label>
                        <input type="text" id="siLAClientHost" formControlName="siLAClientHost">
                        <div *ngIf="(configSilaClientFormControl['siLAClientHost'].invalid || submitted) && (configSilaClientFormControl['siLAClientHost'].touched)">
                          <div *ngIf="configSilaClientFormControl['siLAClientHost'].errors?.required">
                            SiLA Client Host is required.
                          </div>
                        </div>
                      </div>

                      <div>
                        <label for="siLAClientPort">SiLA Client Port</label>
                        <input type="number" id="siLAClientPort" formControlName="siLAClientPort">
                        <div *ngIf="(configSilaClientFormControl['siLAClientPort'].invalid || submitted) && (configSilaClientFormControl['siLAClientPort'].touched)">
                          <div *ngIf="configSilaClientFormControl['siLAClientPort'].errors?.required">
                            SiLA Client Port is required.
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <button type="submit" [disabled]="configSilaClientForm.invalid" class="btn btn-primary">
                          ADD
                        </button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="myModal2" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel2">Client Name Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-8 mx-auto">
                <div class="card">
                  <div>
                    <label>
                      Persist:
                      <select [(ngModel)]="persist">
                        <option *ngFor="let option of persistOptions" [value]="option">{{ option }}</option>
                      </select>
                    </label>
                  </div>
                  <div class="card-body">
                    <h1>Delete Client </h1>
                    <div class="form-group">
                      <div>
                        <label for="clientName1">Client Name</label>
                        <input type="text" id="clientName1" name="clientName"  [(ngModel)] ="clientName">
                        <div *ngIf="(configSilaClientFormControl['clientName'].invalid || submitted) && configSilaClientFormControl['clientName'].touched ">
                          <div *ngIf="configSilaClientFormControl['clientName'].errors?.required">
                            Client Name is required.
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-primary"  (click)="deleteConnectionConfig()"> Delete </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>




