/* Add custom styles for the container */
.container-fluid {
  padding: 20px;
}

/* Style the table */
.table-bordered {
  border: 1px solid #ddd;
}

/* Style the table header */
.table thead th {
  background-color: #f0f0f0;
}

/* Style the table body */
.table tbody td {
  vertical-align: middle;
}

/* Style the action buttons in the table footer */
.table tfoot button {
  margin-right: 10px;
}

/* Style the modals */
.modal {
  transition: opacity 0.3s ease;
}

.modal-header {
  background-color: #f0f0f0;
  border-bottom: none;
}

.modal-title {
  margin-bottom: 0;
}

.modal-body {
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

/* Style the form labels */
label {
  font-weight: bold;
}

/* Style the form inputs */
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

/* Highlight invalid form inputs */
input:invalid {
  border-color: #f44336;
}

/* Style the form error messages */
.form-group > div {
  color: #f44336;
  margin-top: 5px;
  font-size: 14px;
}

/* Style the submit button */
.btn-primary {
  margin-top: 10px;
}

/* Add margin-bottom to the last modal for better spacing */
.modal:last-of-type {
  margin-bottom: 40px;
}
