
<!--<div class="container-fluid content-row">
  <div class="row auto">
    <div class="col-md-15 mx-auto">
      <div class="card-body flex-fill">
        <input type="text" [(ngModel)]="f_identifier" placeholder="Enter request" />
        <button (click)="getFeature(f_identifier)">Send Request</button>

        <div class="feature-description">
          <div class="details">
            <p><strong>Display Name:</strong> {{ featureDescription.displayName }}</p>
            <p><strong>Identifier:</strong> {{ featureDescription.identifier }}</p>
            <p><strong>Version:</strong> {{ featureDescription.version }}</p>
            <p><strong>Description:</strong> {{ featureDescription.description }}</p>
            <p><strong>Category:</strong> {{ featureDescription.category }}</p>
            <p><strong>Originator:</strong> {{ featureDescription.originator }}</p>
            <p><strong>Maturity:</strong> {{ featureDescription.maturity }}</p>
          </div>

          <ul>
            <li *ngFor="let command of featureDescription.commands">
              <div class="command-details">
                <p><strong>Identifier:</strong> {{ command.identifier }}</p>
                <p><strong>Display Name:</strong> {{ command.displayName }}</p>
                <p><strong>Description:</strong> {{ command.description }}</p>
                <p><strong>Observable:</strong> {{ command.observable }}</p>
                <ng-container *ngIf="command.parameter">
                  <div class="parameters">
                    <strong>Parameters:</strong>
                    <ul>
                      <li *ngFor="let parameter of command.parameter">
                        <p><strong>Identifier:</strong> {{ parameter.identifier }}</p>
                        <p><strong>Display Name:</strong> {{ parameter.displayName }}</p>
                        <p><strong>Description:</strong> {{ parameter.description }}</p>
                        <p><strong>DataType2:</strong> {{parameter.dataType?.item?.dataType?.item}}</p>
                        <div class="constraints">
                          <ul>
                            <li class="container-fluid">
                              <p><strong>length:</strong>{{parameter.dataType?.item?.constraints?.length || 'NULL' }}</p>
                              <p><strong>minimalLength:</strong>{{parameter.dataType?.item?.constraints?.minimalLength ||'NULL' }}</p>
                              <p><strong>maximalLength:</strong>{{parameter.dataType?.item?.constraints?.maximalLength || 'NULL' }}</p>
                              <p><strong>set:</strong>{{parameter.dataType?.item?.constraints?.set || 'NULL' }}</p>
                              <p><strong>pattern:</strong>{{parameter.dataType?.item?.constraints?.pattern || 'NULL' }}</p>
                              <p><strong>maximalExclusive:</strong>{{parameter.dataType?.item?.constraints?.maximalExclusive || 'NULL' }}</p>
                              <p><strong>maximalInclusive:</strong>{{parameter.dataType?.item?.constraints?.maximalInclusive || 'NULL' }}</p>
                              <p><strong>minimalExclusive:</strong>{{parameter.dataType?.item?.constraints?.minimalExclusive || 'NULL' }}</p>
                              <p><strong>minimalInclusive:</strong>{{parameter.dataType?.item?.constraints?.minimalInclusive || 'NULL' }}</p>
                              <p><strong>unit:</strong>{{parameter.dataType?.item?.constraints?.unit || 'NULL' }}</p>
                              <p><strong>contentType:</strong>{{parameter.dataType?.item?.constraints?.contentType || 'NULL' }}</p>
                              <p><strong>elementCount:</strong>{{parameter.dataType?.item?.constraints?.elementCount || 'NULL' }}</p>
                              <p><strong>minimalElementCount:</strong>{{parameter.dataType?.item?.constraints?.minimalElementCount || 'NULL' }}</p>
                              <p><strong>maximalElementCount:</strong>{{parameter.dataType?.item?.constraints?.maximalElementCount || 'NULL' }}</p>
                              <p><strong>fullyQualifiedIdentifier:</strong>{{parameter.dataType?.item?.constraints?.fullyQualifiedIdentifier || 'NULL' }}</p>
                              <p><strong>fullyQualifiedIdentifierSpecified:</strong>{{parameter.dataType?.item?.fullyQualifiedIdentifierSpecified || 'NULL' }}</p>
                              <p><strong>allowedTypes:</strong>{{parameter.dataType?.item?.constraints?.allowedTypes || 'NULL' }}</p>
                            </li>

                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </ng-container>

                <div class="response">
                  <strong>Response:</strong>
                  <ul>
                    <li *ngFor="let response of command.response">
                      <p><strong>Identifier:</strong> {{ response.identifier }}</p>
                      <p><strong>Display Name:</strong> {{ response.displayName }}</p>
                      <p><strong>Description:</strong> {{ response.description }}</p>
                      <p><strong>DataType:</strong> {{ response.dataType?.item || 'null' }}</p>
                      <p><strong>DataType:</strong> {{ response.dataType?.item}}</p>
                    </li>
                  </ul>
                </div>

                <div class="intermediate-response">
                  <strong>Intermediate Response:</strong>
                  <ul>
                    <li *ngFor="let intermediateResponse of command.intermediateResponse">
                      <p><strong>Identifier:</strong> {{ intermediateResponse.identifier }}</p>
                      <p><strong>Display Name:</strong> {{ intermediateResponse.displayName }}</p>
                      <p><strong>Description:</strong> {{ intermediateResponse.description }}</p>
                      <p><strong>DataType:</strong> {{ intermediateResponse.dataType?.item }}</p>
                    </li>
                  </ul>
                </div>

                <div class="execution-errors">
                  <strong>Defined
                    Execution Errors:</strong>
                  <ul>
                    <li *ngFor="let error of command.definedExecutionErrors">{{ error }}</li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
          <div class="properties">
            <strong>Properties:</strong>
            <ul>
              <li *ngFor="let property of featureDescription.properties">
                <div class="property-details">
                  <p><strong>Display Name:</strong> {{ property.displayName }}</p>
                  <p><strong>Identifier:</strong> {{ property.identifier }}</p>
                  <p><strong>Description:</strong> {{ property.description }}</p>
                  <p><strong>Observable:</strong> {{ property.observable }}</p>
                  <p><strong>DataType:</strong> {{ property.dataType?.item }}</p>
                  <div class="execution-errors">
                    <strong>Defined Execution Errors:</strong>
                    <ul>
                      <li *ngFor="let error of property.definedExecutionErrors">{{ error }}</li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="data-types">
            <strong>Data Types:</strong>
            <ul>
              <li *ngFor="let dataType of featureDescription.dataTypes">
                <div class="data-type-details">
                  <p><strong>Display Name:</strong> {{ dataType.displayName }}</p>
                  <p><strong>Identifier:</strong> {{ dataType.identifier }}</p>
                  <p><strong>Description:</strong> {{ dataType.description }}</p>
                  <p><strong>DataType:</strong> {{ dataType.dataType?.item.element }}</p>
                  <div>
                    <li *ngFor="let elements of dataType.dataType?.item.element">
                      <p><strong>Display Name:</strong> {{ elements?.displayName }}</p>
                      <p><strong>Identifier:</strong> {{ elements.identifier }}</p>
                      <p><strong>Description:</strong> {{ elements.description }}</p>
                      <p><strong>DataType:</strong> {{ elements.dataType?.item}}</p>

                    </li>
                  </div>

                </div>
              </li>
            </ul>
          </div>

          <div class="metadata">
            <strong>Metadata:</strong>
            <ul>
              <li *ngFor="let metadata of featureDescription.metadata">
                <div class="metadata-details">
                  <p><strong>Display Name:</strong> {{ metadata.displayName }}</p>
                  <p><strong>Identifier:</strong> {{ metadata.identifier }}</p>
                  <p><strong>Description:</strong> {{ metadata.description }}</p>
                  <p><strong>DataType:</strong> {{ metadata.dataType?.item }}</p>
                  <div class="execution-errors">
                    <strong>Defined Execution Errors:</strong>
                    <ul>
                      <li *ngFor="let error of metadata.definedExecutionErrors">{{ error }}</li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="defined-execution-errors">
            <strong>Defined Execution Errors:</strong>
            <ul>
              <li *ngFor="let error of featureDescription.definedExecutionErrors">
                <p><strong>Identifier:</strong> {{ error.identifier }}</p>
                <p><strong>Display Name:</strong> {{ error.displayName }}</p>
                <p><strong>Description:</strong> {{ error.description }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>--->
<div class="container-fluid content-row">
  <div class="row auto">
    <div class="col-md-15 mx-auto">
      <div class="card-body flex-fill">
        <div class="container">
          <input type="text" [(ngModel)]="f_identifier" placeholder="Enter request" />
          <button (click)="getFeature()">Send Request</button>
        </div>

        <div class="feature-description">
          <div class="details">
            <p><strong>Display Name:</strong> {{ featureDescription.displayName }}</p>
            <p><strong>Identifier:</strong> {{ featureDescription.identifier }}</p>
            <p><strong>Version:</strong> {{ featureDescription.version }}</p>
            <p><strong>Description:</strong> {{ featureDescription.description }}</p>
            <p><strong>Category:</strong> {{ featureDescription.category }}</p>
            <p><strong>Originator:</strong> {{ featureDescription.originator }}</p>
            <p><strong>Maturity:</strong> {{ featureDescription.maturity }}</p>
          </div>

          <ul>
            <li *ngFor="let command of featureDescription.commands">
              <div class="command-details">
                <p><strong>Identifier:</strong> {{ command.identifier }}</p>
                <p><strong>Display Name:</strong> {{ command.displayName }}</p>
                <p><strong>Description:</strong> {{ command.description }}</p>
                <p><strong>Observable:</strong> {{ command.observable }}</p>
                <ng-container *ngIf="command.parameter">
                  <div class="parameters">
                    <strong>Parameters:</strong>
                    <ul>
                      <li *ngFor="let parameter of command.parameter">
                        <p><strong>Identifier:</strong> {{ parameter.identifier }}</p>
                        <p><strong>Display Name:</strong> {{ parameter.displayName }}</p>
                        <p><strong>Description:</strong> {{ parameter.description }}</p>
                        <p><strong>DataType2:</strong> {{ parameter.dataType?.item?.dataType?.item }}</p>
                        <div class="constraints">
                          <ul>
                            <li class="container-fluid" *ngIf="parameter.dataType?.item?.constraints">
                              <p><strong>length:</strong> {{ parameter.dataType?.item?.constraints.length || 'NULL' }}</p>
                              <p><strong>minimalLength:</strong> {{ parameter.dataType?.item?.constraints.minimalLength || 'NULL' }}</p>
                              <p><strong>maximalLength:</strong> {{ parameter.dataType?.item?.constraints.maximalLength || 'NULL' }}</p>
                              <p><strong>set:</strong> {{ parameter.dataType?.item?.constraints.set || 'NULL' }}</p>
                              <p><strong>pattern:</strong> {{ parameter.dataType?.item?.constraints.pattern || 'NULL' }}</p>
                              <p><strong>maximalExclusive:</strong> {{ parameter.dataType?.item?.constraints.maximalExclusive || 'NULL' }}</p>
                              <p><strong>maximalInclusive:</strong> {{ parameter.dataType?.item?.constraints.maximalInclusive || 'NULL' }}</p>
                              <p><strong>minimalExclusive:</strong> {{ parameter.dataType?.item?.constraints.minimalExclusive || 'NULL' }}</p>
                              <p><strong>minimalInclusive:</strong> {{ parameter.dataType?.item?.constraints.minimalInclusive || 'NULL' }}</p>
                              <p><strong>unit:</strong> {{ parameter.dataType?.item?.constraints.unit || 'NULL' }}</p>
                              <p><strong>contentType:</strong> {{ parameter.dataType?.item?.constraints.contentType || 'NULL' }}</p>
                              <p><strong>elementCount:</strong> {{ parameter.dataType?.item?.constraints.elementCount || 'NULL' }}</p>
                              <p><strong>minimalElementCount:</strong> {{ parameter.dataType?.item?.constraints.minimalElementCount || 'NULL' }}</p>
                              <p><strong>maximalElementCount:</strong> {{ parameter.dataType?.item?.constraints.maximalElementCount || 'NULL' }}</p>
                              <p><strong>fullyQualifiedIdentifier:</strong> {{ parameter.dataType?.item?.constraints.fullyQualifiedIdentifier || 'NULL' }}</p>
                              <p><strong>fullyQualifiedIdentifierSpecified:</strong> {{ parameter.dataType?.item?.fullyQualifiedIdentifierSpecified || 'NULL' }}</p>
                              <p><strong>allowedTypes:</strong> {{ parameter.dataType?.item?.constraints.allowedTypes || 'NULL' }}</p>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </ng-container>

                <div class="response">
                  <strong>Response:</strong>
                  <ul>
                    <li *ngFor="let response of command.response">
                      <p><strong>Identifier:</strong> {{ response.identifier }}</p>
                      <p><strong>Display Name:</strong> {{ response.displayName }}</p>
                      <p><strong>Description:</strong> {{ response.description }}</p>
                      <p><strong>DataType:</strong> {{ response.dataType?.item || 'null' }}</p>
                    </li>
                  </ul>
                </div>

                <div class="intermediate-response">
                  <strong>Intermediate Response:</strong>
                  <ul>
                    <li *ngFor="let intermediateResponse of command.intermediateResponse">
                      <p><strong>Identifier:</strong> {{ intermediateResponse.identifier }}</p>
                      <p><strong>Display Name:</strong> {{ intermediateResponse.displayName }}</p>
                      <p><strong>Description:</strong> {{ intermediateResponse.description }}</p>
                      <p><strong>DataType:</strong> {{ intermediateResponse.dataType?.item }}</p>
                    </li>
                  </ul>
                </div>

                <div class="execution-errors">
                  <strong>Defined Execution Errors:</strong>
                  <ul>
                    <li *ngFor="let error of command.definedExecutionErrors">{{ error }}</li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>

          <div class="properties">
            <strong>Properties:</strong>
            <ul>
              <li *ngFor="let property of featureDescription.properties">
                <div class="property-details">
                  <p><strong>Display Name:</strong> {{ property.displayName }}</p>
                  <p><strong>Identifier:</strong> {{ property.identifier }}</p>
                  <p><strong>Description:</strong> {{ property.description }}</p>
                  <p><strong>Observable:</strong> {{ property.observable }}</p>
                  <p><strong>DataType:</strong> {{ property.dataType?.item }}</p>
                  <div class="execution-errors">
                    <strong>Defined Execution Errors:</strong>
                    <ul>
                      <li *ngFor="let error of property.definedExecutionErrors">{{ error }}</li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="data-types">
            <strong>Data Types:</strong>
            <ul>
              <li *ngFor="let dataType of featureDescription.dataTypes">
                <div class="data-type-details">
                  <p><strong>Display Name:</strong> {{ dataType.displayName }}</p>
                  <p><strong>Identifier:</strong> {{ dataType.identifier }}</p>
                  <p><strong>Description:</strong> {{ dataType.description }}</p>
                  <p><strong>DataType:</strong> {{ dataType.dataType?.item.element }}</p>
                  <div>
                    <ul>
                      <li *ngFor="let element of dataType.dataType?.item.element">
                        <p><strong>Display Name:</strong> {{ element.displayName }}</p>
                        <p><strong>Identifier:</strong> {{ element.identifier }}</p>
                        <p><strong>Description:</strong> {{ element.description }}</p>
                        <p><strong>DataType:</strong> {{ element.dataType?.item }}</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="metadata">
            <strong>Metadata:</strong>
            <ul>
              <li *ngFor="let metadata of featureDescription.metadata">
                <div class="metadata-details">
                  <p><strong>Display Name:</strong> {{ metadata.displayName }}</p>
                  <p><strong>Identifier:</strong> {{ metadata.identifier }}</p>
                  <p><strong>Description:</strong> {{ metadata.description }}</p>
                  <p><strong>DataType:</strong> {{ metadata.dataType?.item }}</p>
                  <div class="execution-errors">
                    <strong>Defined Execution Errors:</strong>
                    <ul>
                      <li *ngFor="let error of metadata.definedExecutionErrors">{{ error }}</li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="defined-execution-errors">
            <strong>Defined Execution Errors:</strong>
            <ul>
              <li *ngFor="let error of featureDescription.definedExecutionErrors">
                <p><strong>Identifier:</strong> {{ error.identifier }}</p>
                <p><strong>Display Name:</strong> {{ error.displayName }}</p>
                <p><strong>Description:</strong> {{ error.description }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
