

<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-bordered" >
      <thead>
      <tr>
        <th>Gateway Feature</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>
          <div class="row">
            <div class="gateway-feature">
              {{ gatewayFeatures }}
            </div>
          </div>
        </td>

        <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal1">
            Add Gateway Feature
          </button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal2">
            Delete Gateway Feature
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>





<div class="container-fluid">

  <!--Modal add feature -->
  <div class="modal fade" id="myModal1" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel1">Identifier Save</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-8 mx-auto">
                <div class="card">
                  <div class="card-body">
                    <h1>Gateway Feature</h1>
                    <div class="form-group">
                      <label for="identifierInput1">Identifier:</label>

                      <input type="text" id="identifierInput1" [(ngModel)]="identifier" class="form-control">
                    </div>
                    <button class="btn btn-primary" (click)="addGatewayFeature(identifier)">Save</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Modal delete feature -->
  <div class="modal fade" id="myModal2" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel2">Identifier Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-8 mx-auto">
                <div class="card">
                  <div class="card-body">
                    <h1>Gateway Feature</h1>
                    <div class="form-group">
                      <label for="identifierInput2">Identifier:</label>
                      <input type="text" id="identifierInput2" [(ngModel)]="identifier" class="form-control">
                    </div>
                    <button class="btn btn-primary" (click)="deleteGatewayFeature(identifier)"> Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
